@model IEnumerable<Dynamics365CRM.Models.Firmenwagen>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
}

<h1>Fahrzeuge</h1>

<p>
    <a asp-action="Create">Neues Fahrzeug</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Fahrzeugname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fahrzeughalter)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-area="" asp-controller="Firmenwagens" asp-action="Kontaktdaten"
                   asp-route-Fahrzeugname="@item.Fahrzeugname"
                   asp-route-Fahrzeughalter="@item.Fahrzeughalter"
                   style="color: #0026ff"> @Html.DisplayFor(modelItem => item.Fahrzeugname)</a>


            </td>
            <td>
                <a asp-area="" asp-controller="Kontakts" asp-action="Kontaktdaten"
                   asp-route-name="@item.Fahrzeughalter"
                   style="color: #0026ff"> @Html.DisplayFor(modelItem => item.Fahrzeughalter)</a>



            </td>
            <td>

                <a asp-action="Delete" asp-route-id="@item.Id">Löschen</a>



            </td>
        </tr>
        }
    </tbody>
</table>
